@import '@../../node_modules/slick-carousel/slick/slick.scss';
@import '@../../node_modules/slick-carousel/slick/slick-theme.scss';
@import './bigTextLittleText/bigtextlittletext.scss';
@import './heroCarousel/herocarousel.scss';
@import './imageShimmer/imageShimmer.scss';
@import './marqueeCursor/marqueecursor.scss';
@import './motionHero/motionhero.scss';
@import './nav/nav.css';
@import './parallaxOverlap/parallaxoverlap.scss';
@import './slider/slider.css';
@import './scrollTrigger/scrollTrigger.scss';
@import './scrollTriggerSlide/scrolltriggerslide.scss';
@import './testimonials/testimonials.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;
 
.shake{
    border-radius: 5px; 
    &:hover, &:focus {
        animation: logoshake .5s cubic-bezier(.36,.07,.19,.97) both;
        backface-visibility: hidden;
        transform-origin: center;
    }
  }
  
  @keyframes logoshake {
    0% { transform: rotate(0); }
    15% { transform: rotate(5deg); }
    30% { transform: rotate(-5deg); }
    45% { transform: rotate(4deg); }
    60% { transform: rotate(-4deg); }
    75% { transform: rotate(2deg); }
    85% { transform: rotate(-2deg); }
    92% { transform: rotate(1deg); }
    100% { transform: rotate(0); }
}

.logoHeight{
    @apply max-h-8
}

.redText{
    color: #f00;
}
  
.pixel_heart {
  box-shadow: 70px 50px 0 0 rgba(255, 0, 0, 1), 80px 50px 0 0 rgba(255, 0, 0, 1), 120px 50px 0 0 rgba(255, 0, 0, 1), 130px 50px 0 0 rgba(255, 0, 0, 1), 60px 60px 0 0 rgba(255, 0, 0, 1), 70px 60px 0 0 rgba(255, 0, 0, 1), 80px 60px 0 0 rgba(255, 0, 0, 1), 90px 60px 0 0 rgba(255, 0, 0, 1), 110px 60px 0 0 rgba(255, 0, 0, 1), 120px 60px 0 0 rgba(255, 0, 0, 1), 130px 60px 0 0 rgba(255, 0, 0, 1), 140px 60px 0 0 rgba(255, 0, 0, 1), 50px 70px 0 0 rgba(255, 0, 0, 1), 60px 70px 0 0 rgba(255, 0, 0, 1), 70px 70px 0 0 rgba(255, 0, 0, 1), 80px 70px 0 0 rgba(255, 0, 0, 1), 90px 70px 0 0 rgba(255, 0, 0, 1), 100px 70px 0 0 rgba(255, 0, 0, 1), 110px 70px 0 0 rgba(255, 0, 0, 1), 120px 70px 0 0 rgba(255, 0, 0, 1), 130px 70px 0 0 rgba(255, 0, 0, 1), 140px 70px 0 0 rgba(255, 0, 0, 1), 150px 70px 0 0 rgba(255, 0, 0, 1), 50px 80px 0 0 rgba(255, 0, 0, 1), 60px 80px 0 0 rgba(255, 0, 0, 1), 70px 80px 0 0 rgba(255, 0, 0, 1), 80px 80px 0 0 rgba(255, 0, 0, 1), 90px 80px 0 0 rgba(255, 0, 0, 1), 100px 80px 0 0 rgba(255, 0, 0, 1), 110px 80px 0 0 rgba(255, 0, 0, 1), 120px 80px 0 0 rgba(255, 0, 0, 1), 130px 80px 0 0 rgba(255, 0, 0, 1), 140px 80px 0 0 rgba(255, 0, 0, 1), 150px 80px 0 0 rgba(255, 0, 0, 1), 60px 90px 0 0 rgba(255, 0, 0, 1), 70px 90px 0 0 rgba(255, 0, 0, 1), 80px 90px 0 0 rgba(255, 0, 0, 1), 90px 90px 0 0 rgba(255, 0, 0, 1), 100px 90px 0 0 rgba(255, 0, 0, 1), 110px 90px 0 0 rgba(255, 0, 0, 1), 120px 90px 0 0 rgba(255, 0, 0, 1), 130px 90px 0 0 rgba(255, 0, 0, 1), 140px 90px 0 0 rgba(255, 0, 0, 1), 70px 100px 0 0 rgba(255, 0, 0, 1), 80px 100px 0 0 rgba(255, 0, 0, 1), 90px 100px 0 0 rgba(255, 0, 0, 1), 100px 100px 0 0 rgba(255, 0, 0, 1), 110px 100px 0 0 rgba(255, 0, 0, 1), 120px 100px 0 0 rgba(255, 0, 0, 1), 130px 100px 0 0 rgba(255, 0, 0, 1), 80px 110px 0 0 rgba(255, 0, 0, 1), 90px 110px 0 0 rgba(255, 0, 0, 1), 100px 110px 0 0 rgba(255, 0, 0, 1), 110px 110px 0 0 rgba(255, 0, 0, 1), 120px 110px 0 0 rgba(255, 0, 0, 1), 90px 120px 0 0 rgba(255, 0, 0, 1), 100px 120px 0 0 rgba(255, 0, 0, 1), 110px 120px 0 0 rgba(255, 0, 0, 1), 100px 130px 0 0 rgba(255, 0, 0, 1);
  height: 10px;
  width: 10px;
}
  
blockquote > p {
  line-height: 2rem;
  //margin: 2em 0 3em 0;
}
  
.border-red-500 {
  --tw-border-opacity: 1;
  /* border-color: rgb(115 115 115 / var(--tw-border-opacity)); */
  border-color: red;
}
  
  
.yarl__slide_image{
  max-width: 100%!important;
  max-height: 100%!important;
}
  
  
  
  .btn-red {
    @apply bg-red-600 hover:bg-red-400 text-white font-bold p-4 rounded transition ease-in-out
  }
  

  .rd_txt{
    color: red!important;
  }
    
  .override{
    padding-top: 4rem!important;
    padding-bottom: 0!important;
    @media (max-width: 760px){
      padding-top: 8rem!important;
    }
  }
  
  .fade:not(.show) {
      opacity: 0;
  }
  
  .fade {
      transition: opacity .15s linear;
  }
  
  .tab-content>.tab-pane {
      display: none;
  }
  
  .tab-content>.active {
      display: block;
  }
  
  .composedHeading{
    @apply font-black tracking-tighter text-5xl md:text-[5rem] mb-6 last:mb-0 uppercase;
  }
  
  .nav__link .text-white .font-black .uppercase .active{
    color: red!important;
  }
  
  
  .mobileSearch{
    @apply w-full rounded-l rounded-r-none border border-slate-500 bg-slate-600 py-3 pl-3 pr-10 text-white placeholder-slate-400
  }
  
  
  .boundedContainer{
    @apply px-6 py-10 md:py-20;
    @apply sm:py-8 md:py-10;
  }
  
  .header__underline{
    @apply mt-2 h-1 w-20 rounded;
    background-color: red;
  }

  .studio-override{
    @media screen and (max-width: 650px){
      font-size: 4.75rem;
    }
    
  }

.article_text{
  letter-spacing: -.5px;
  font-weight: 300;
  display: flex;
  font-size: 1.125rem;
  line-height: 2.5rem;
  text-align: justify;

  @media screen and (max-width: 768px) {
    line-height: 2rem;
    font-size: 18px;
}  

  h2,
  h2 > span{
    @apply pb-4 font-black text-black text-3xl md:text-4xl last:mb-0 uppercase max-w-3xl text-left
  }

  h3{
    font-weight: bolder;
  }

  figure{
    @apply my-8 shiney-wrapper shine;

    img{
      @apply aspect-video rounded-xl bg-gray-50 object-cover shadow-md;
    }
  }
  
  ul{
    // list-style-type: disc;
    margin-left: 2em;
  }

  p{
    padding: 1em 0;
  }
}

.block_text{
  letter-spacing: -.5px;
  font-weight: 300;
  display: flex;
  font-size: 1.125rem;
  line-height: 2.5rem;
  text-align: justify;
  flex-direction: column;
}

.carouselLeft{
  margin-left: 5px; 
}

.allArticles_excerpt{
  display: inline-block;
  @media screen and (max-width: 960px) {
    display: none;
  }  
}

.bgImgShelf{
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  width: initial;
  height: initial; 
  background: none;
  opacity: 1;
  border: 0px;
  margin: 0px;
  padding: 0px;
  position: relative;
}

[data-collapsible="true"].bg-white + [data-collapsible="true"].bg-white,
[data-collapsible="true"].bg-slate-100
  + [data-collapsible="true"].bg-slate-100 {
  @apply pt-0 md:pt-0;
}

.studio_intro{
  @apply article_text leading-8 mx-auto w-full max-w-3xl;
}

.contact_intro{
  @apply article_text leading-8 mx-auto w-full flex flex-col;
}

.video-container {
    @apply w-full;
    padding-top: 56.25%;
    height: 0px;
    position: relative;
  }
  
  .video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  


#sail-group {
  transform-origin: 32.5px 24.5px;
  transition: all 1.5s ease-in-out;
}

svg:hover #sail-group {
  transform: rotate(360deg);
  transition: all 1.5s ease-in-out;
}

svg #sail-group > rect,
svg #sail-group > line {
  fill: none;
}

svg:hover #sail-group > rect,
svg:hover #sail-group > line {
  fill: #f00;
  
}

@keyframes rotate {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}

.main-circle {
  background-color: #0c272e;
  border-radius: 50%;
  height: 300px;
  margin: 15px auto;
  position: relative;
  width: 300px;
}

.main-circle > svg {
  animation: rotate 5s infinite linear;
  height: 362px;
  left: -31px;
  position: absolute;
  top: -31px;
  width: 362px;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.windmill{
  position: absolute;
  bottom: 2%;
  right: 3%;
}

    

#windmillIcon{
  height: 150px; 
  width: 75px; 
}
  
@media screen and (max-width: 670px){
  #windmillIcon{
    margin: 0 auto;
    width: 50%;
    height: 50px; 
    width: 50px;
    right: 0!important; 
  }
}

.article_image > img {
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  border-radius: 1%;
}


.box {
  width: 150px;
  height: 150px;
  border-radius: 1em;
  background-color: #f9f07e;
  margin-left: auto;
  margin-right: auto;
}

.nyomNyomCookie{
  background: red;
  text-align: center;
  padding: 5px 0;
  font-weight: bold;
  position: fixed;
  bottom: 0;
  z-index: 99999;
  width: 100%;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
}



// editor

.services_text{
    letter-spacing: -0.5px;
    font-weight: 300;
    display: flex;
    line-height: 2rem;
}

strong {
  font-weight: 700;
}

.blogIndexHeading{
  @apply uppercase font-black text-4xl md:text-7xl;
  letter-spacing: -0.05em;
}

.blogIntroString{
  letter-spacing: -0.5px;
  font-weight: 300;
  line-height: 2.5rem;
  font-size: 1.25rem;
  @apply mt-6 text-gray-600;
}


.ReactGridGallery_tile-viewport > img{
  object-fit:cover;
}