
.marquee-container {
    overflow: hidden;
    white-space: nowrap;
    background: red;
  }
  
  .marquee-content {
    animation: marquee 20s linear infinite;
    color: white;
    padding: 5px;
    font-weight: bolder;
    text-transform: uppercase;
  
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .cursor {
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
    }
    .cursor::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    border: 2px solid blue;
    border-radius: 50%;
    opacity: .5;
    top: -8px;
    left: -8px;
    }
    @keyframes cursorAnim {
    0% {
    transform: scale(1);
    }
    50% {
    transform: scale(5);
    }
    100% {
    transform: scale(1);
    opacity: 0;
    }
    }
    px-6 py-20 md:py-32  {
    animation: cursorAnim .25s forwards;
    }
  
    :root {
        --color-cursor: 220, 90, 90;
        --cursor-outline-shade: 0.3;
        --cursor-size: 10px;
        --cursor-outline-size: 12px;
      }
      
    
    #cursor-dot,
    #cursor-dot-outline {
        z-index: 999;
        pointer-events: none;
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 50%;
        opacity: 0;
        transform: translate(-50%, -50%);
        transition: opacity 0.15s ease-in-out, transform 0.15s ease-in-out;
    }
    
    #cursor-dot {
        width: var(--cursor-size);
        height: var(--cursor-size);
        background-color: rgba(var(--color-cursor), 1);
    }
    
    #cursor-dot-outline {
        width: var(--cursor-outline-size);
        height: var(--cursor-outline-size);
        background-color: rgba(var(--color-cursor), var(--cursor-outline-shade));
    }
  