.scrollTriggerGallery{

    h1 { font-size: 5rem }
    h2 { font-size: 2rem }

    > img {
        height: auto;
        background: #f0f0f0;
    }

    ul {
        padding-left: 1rem;
        list-style: none;

        li {
            flex-shrink: 0;
            width: clamp(500px, 60vw, 800px);
            padding-right: 1rem;
        }
    }
    header {height: 50vh}
    footer {height: 50vh}

    :-webkit-any-link { color: red; }

    :-moz-any-link { color: red; }

    :any-link { color: red; }

    
    .loader {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        left: 0; 
        width: 100%;
        height: 100vh;
        background: white;
        color: black;
        overflow: hidden;
    }

    .demo-wrapper {
        overflow-x: hidden;
    }

    .wrapper {
        display: flex;
    }

    .demo-gallery:not(.last) {
        padding-bottom: 1rem;
    }

    .demo-text, .text, --text {
        font-size: clamp(8rem, 15vw, 16rem);
        line-height: 1;
        font-weight: 900;
    }
    .modal {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 20px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
        z-index: 999999;
        width: 100%;
        height: 100%;
        opacity: 0; 
        transition: all .25s ease-in-out;
        
        &.active{
            opacity: 1; 
        }
        
    }
}